body {
    margin: 0;
    padding: 0;
}
table {
    width: 115%;
    height: 100vh;
    border: 1px solid black;
}
.first-cell {
    background-color: greenyellow;
    font-size: 30px;
    align-items: left;
}
.second-cell {
    background-color: coral;
    font-size: 30px;
    align-items: right;
}
